<style>

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
/* STYLES GO HERE */
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* STYLES GO HERE */
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */1
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-width : 320px)
and (max-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-width : 320px)
and (max-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */

}

  @media only screen and (max-width:800px) {
 .card-responsive-adjust {
 width: 700px;
 }
 }

 @media only screen and (max-width:735px) {
 .card-responsive-adjust {
 width: 635px;
 }
 }
 
 @media only screen and (max-width:670px) {
 .card-responsive-adjust {
 width: 570px;
 }
 }

 @media only screen and (max-width:600px) {
 .card-responsive-adjust {
 width: 500px;
 }
 }

 @media only screen and (max-width:530px) {
 .card-responsive-adjust {
 width: 430px;
 }
 }

 @media only screen and (max-width:460px) {
 .card-responsive-adjust {
 width: 370px;
 }
 }

 @media only screen and (max-width:400px) {
 .card-responsive-adjust {
 width: 355px;
 margin-left: -25px;
 }
 }

 @media only screen and (max-width:1366px) {
 .card-responsive-adjust {
 width: 90%;
 /*margin-left: -25px;*/
 }
 }

 @media only screen and (max-width:320px) {
 .card-responsive-adjust {
 width: 290px;
 /*overflow-x: scroll;*/
 /*margin-left: -25px;*/
 }
 }

 /*scroll*/
 @media only screen and (max-width:800px) {
 .responsive{
 width: 700px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:735px) {
 .responsive{
 width: 635px;
 overflow-x: scroll;
 }
 }
 
 @media only screen and (max-width:670px) {
 .responsive{
 width: 570px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:600px) {
 .responsive{
 width: 500px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:530px) {
 .responsive{
 width: 430px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:460px) {
 .responsive{
 width: 370px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:400px) {
 .responsive{
 width: 355px;
 overflow-x: scroll;
 /*margin-left: -25px;*/
 }
 }

 @media only screen and (max-width:320px) {
 .responsive{
 width: 290px;
 overflow-x: scroll;
 /*margin-left: -25px;*/
 }
 }
 label{
     text-align: left;
 }
</style>




<div *ngIf="isForm">
  <!--page start-->
  <!--Form-->
  <div class="animated fadeIn">
        <div class="card card-responsive-adjust">
            <div class="card-header" style="background-color:#00BFFF; color:white;font-size: 16px; font-weight:bold">{{componentName}}</div>
            <div class="card-block responsive">
 <form action="" method="post" class="form-horizontal" #genericForm="ngForm">
                   <div class="row">
                    <div class="form-group col-md-6 col-sm-8 col-xs-4" *ngFor="let field of fields;let in=index">
                        <div class="row">
                            <label class="col-4 form-control-label"   for="hf-name">{{field.label}}</label>
                            <div class="col-8" *ngIf="field.type==='text'">
                                <input type="{{field.type}}" id="{{field.Id}}"  ngModel name="{{field.name}}" class="{{field.className}}" placeholder="" required>
                            </div>
                            <div class="col-8" *ngIf="field.type==='select'">
                                <select id="{{field.Id}}" ngModel name="{{field.name}}" class="{{field.className}}" size="1">
                                <option  *ngFor="let opt of field.options">{{opt}}</option>                
                                </select> 
                               <!--<ng-select   [multiple]="false" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" placeholder="No city selected">                               
                             </ng-select>-->
                            </div>
                            <div class="col-8" *ngIf="field.type==='number'">
                                <input type="{{field.type}}" id="{{field.Id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="" >
                            </div>
                            <!--<div class="col-8 " *ngIf="field.type==='date'">
                                <div class="input-group">
                                  <input class="form-control" style="float:none;" placeholder="Select a date" ngx-mydatepicker ngModel name="date"
                                        #dp="ngx-mydatepicker" />
                                  <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                          <i class="fa fa-calendar"></i>
                                      </button>
                                  </span>
                              </div>
                              </div>-->
                              <div class="col-8 " *ngIf="field.type==='date'">
                            <div class="">
                            <input class="form-control" style="float:none;"  (click)="dp.toggleCalendar()" placeholder="Select a date" ngx-mydatepicker ngModel name="{{field.name}}" #dp="ngx-mydatepicker"/>                         
                            </div>
                            </div>
                            <div class="col-8" *ngIf="field.type==='radio'">
                               <div class="row" >
                                <div class="col-1">
                                </div>
                                  <div  class="radio" *ngFor="let opt of field.options;let idx=index" >
                                      <input type="radio" id="{{field.Id}}" ngModel name="{{field.name}}" value="{{opt}}"> {{opt}}                                
                                      &emsp;
                                  </div>
                               </div>
                            </div>
                            <div class="col-8" *ngIf="field.type==='checkbox'">
                            <div class="row">
                              <div class="col-1"></div>
                                <div class="checkbox">
                                      <input type="checkbox" ngModel id="{{field.id}}" name="{{field.name}}" value="{{opt}}">
                                      &emsp;
                                 </div>
                            </div>
                            </div>
                             <div class="col-8" *ngIf="field.type==='email'">
                                <input type="email" id="{{field.id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="">
                             </div>
                              <div class="col-8" *ngIf="field.type==='password'">
                                <input type="password" id="{{field.id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="">
                             </div>
                            <div class="col-8" *ngIf="field.type==='hidden'">
                                   <input type="hidden" id="{{field.id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="">                          
                            </div>
                             <div class="col-8" *ngIf="field.type==='file'">
                                <input type="file" name="file" ngModel (change)="getFiles($event)">
                             </div>                      
                    </div>
                    <br>
                   
                      </div>  
              </div>
                <span class="col-md-3 offset-md-4" (click)="isShow=!isShow;onshow()"> 
                                {{showDetails}}
                 </span>
                
                     
                        <div  class="row" *ngIf="isShow">
                        <div class="form-group col-md-6 col-sm-8 col-xs-4" *ngFor="let field of moreFields;let in=index">
                        <div class="row">
                            <label class="col-4 form-control-label"   for="hf-name">{{field.label}}</label>
                            <div class="col-8" *ngIf="field.type==='text'">
                                <input type="{{field.type}}" id="{{field.Id}}"  ngModel name="{{field.name}}" class="{{field.className}}" placeholder="" required>
                            </div>
                            <div class="col-8" *ngIf="field.type==='select'">
                                <select id="{{field.Id}}" ngModel name="{{field.name}}" class="{{field.className}}" size="1">
                                <option  *ngFor="let opt of field.options">{{opt}}</option>                
                                </select> 
                               <!--<ng-select   [multiple]="false" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" placeholder="No city selected">                               
                             </ng-select>-->
                            </div>
                            <div class="col-8" *ngIf="field.type==='number'">
                                <input type="{{field.type}}" id="{{field.Id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="" >
                            </div>
                            <!--<div class="col-8 " *ngIf="field.type==='date'">
                                <div class="input-group">
                                  <input class="form-control" style="float:none;" placeholder="Select a date" ngx-mydatepicker ngModel name="date"
                                        #dp="ngx-mydatepicker" />
                                  <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                          <i class="fa fa-calendar"></i>
                                      </button>
                                  </span>
                              </div>
                              </div>-->
                              <div class="col-8 " *ngIf="field.type==='date'">
                            <div class="">
                            <input class="form-control" style="float:none;"  (click)="dp.toggleCalendar()" placeholder="Select a date" ngx-mydatepicker ngModel name="{{field.name}}" #dp="ngx-mydatepicker"/>                           
                            </div>
                            </div>
                            <div class="col-8" *ngIf="field.type==='radio'">
                               <div class="row" >
                                <div class="col-1">
                                </div>
                                  <div  class="radio" *ngFor="let opt of field.options;let idx=index" >
                                      <input type="radio" id="{{field.Id}}" ngModel name="{{field.name}}" value="{{opt}}"> {{opt}}                                
                                      &emsp;
                                  </div>
                               </div>
                            </div>
                            <div class="col-8" *ngIf="field.type==='checkbox'">
                            <div class="row">
                              <div class="col-1"></div>
                                <div class="checkbox">
                                      <input type="checkbox" ngModel id="{{field.id}}" name="{{field.name}}" value="{{opt}}">
                                      &emsp;
                                 </div>
                            </div>
                            </div>
                             <div class="col-8" *ngIf="field.type==='email'">
                                <input type="email" id="{{field.id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="">
                             </div>
                              <div class="col-8" *ngIf="field.type==='password'">
                                <input type="password" id="{{field.id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="">
                             </div>
                            <div class="col-8" *ngIf="field.type==='hidden'">
                                   <input type="hidden" id="{{field.id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="">                          
                            </div>
                             <div class="col-8" *ngIf="field.type==='file'">
                                <input type="file" name="file" ngModel (change)="getFiles($event)">
                             </div>                      
                    </div>
                    <br>
                   
                      </div> 
                          
                         
                        </div>
                </form>
                <p>{{genericForm.value | json}}</p>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-3"></div> 
                    <div class="col-4"> 
                      <button type="submit" class="btn btn-primary" (click)="onSubmit(genericForm)"><i class="fa fa-check"></i> Submit</button> 
                    </div>
                    <div class="col-2">
                      <button type="reset" class="btn btn-danger"><i class="fa fa-close"></i> Reset</button>
                    </div>
                    <div class="col-3"></div>
                  </div>
                </div>        
        </div>
    </div>
  <!--Form-->
  <!--Table-->
  <div  class="card card-responsive-adjust">
    <div class="card-header" style="background-color: #00BFFF;color: #fff"><b>Manage {{componentName}}</b></div>
      <div class="card-block responsive">
       <div id="container-fluid" class="container">
      <table id="example" class="display row-border order-column" cellspacing="0" width="100%">
          <thead>
                <tr>
                  <td *ngFor="let head of theads">
                    {{head}}
                  </td>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of data">
              <td *ngFor="let tf of tfields" > 
                {{item[tf]}}
              </td>
              <td *ngIf="item['action']=='show'">
                <a data-toggle="modal" (click)="onSelect(item);editModal.show()"><i class="fa fa-pencil" aria-hidden="true" style="color:#20a8d8"></i></a>&emsp; <a data-toggle="modal" (click)="onSelect(item);deleteModal.show()"><i class="fa fa-trash" aria-hidden="true" style="color:#ff5454;"></i></a>               
              </td> 
              <td *ngIf="item['action']!='show'">             
              </td> 
            </tr>
          </tbody>
      </table>
      </div>
      </div>
  </div>
  <!--Table-->
  <!--Edit Modal start-->
  <form action="" method="post" class="" #upform="ngForm">  
      <div bsModal #editModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#fff;color:black">
              <h4 class="modal-title">{{componentName}} Edit Form</h4>
              <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-horizontal row"> 
                  <div class="form-group col-md-6 col-sm-8 col-xs-4" *ngFor="let field of modalfields;let in=index">
                       <div class="row">
                <label class="col-6 form-control-label"   for="hf-name">{{field.label}}</label>
                <div class="col-6" *ngIf="field.type==='text'">
                    <input type="{{field.type}}" id="{{field.Id}}"  name="{{field.name}}" class="{{field.className}}" placeholder=""  [(ngModel)]="modalfields[in].value"  >
                </div>          
                <div class="col-6" *ngIf="field.type==='number'">
                    <input type="{{field.type}}" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" ngModel placeholder="">
                </div>
                <div class="col-6" *ngIf="field.type==='date'">
                    <input type="{{field.type}}" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" [(ngModel)]="modalfields[in].value" placeholder="">
                </div>
                <div class="col-6" *ngIf="field.type==='select'">
                <select  [(ngModel)]="modalfields[in].value" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" size="1">
                <option  [ngValue]="opt" *ngFor="let opt of field.options">{{opt}}</option>                
                </select> 
              </div>
                <div class="col-6" *ngIf="field.type==='radio'">
                    <div class="row" >
                    <div class="col-1">
                    </div>
                    <div  class="radio" *ngFor="let opt of field.options;let idx=index" >
                        <input type="radio" id="{{field.Id}}" [(ngModel)]="modalfields[in].value"  name="{{field.name}}" value="{{opt}}"   > {{opt}}                                
                            &emsp;
                    </div>
                    </div>
                </div>
                <div class="col-6" *ngIf="field.type==='checkbox'">
                <div class="row" >
                    <div class="col-1">
                    </div>
                    <div class="checkbox " *ngFor="let opt of field.options; let inn=index">
                            <input type="checkbox" [(ngModel)]="modalfields[in].value"  id="checkbox{{in}}" name="checkbox{{inn}}" value="{{opt}}"> {{opt}}
                            &emsp;
                        </div>
                </div>
                </div>
                <div class="col-10" *ngIf="field.type==='hidden'">
                    <input type="hidden" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" [(ngModel)]="modalfields[in].value" placeholder="">                          
                </div>
            </div>
                  </div>
              </div>  


              <span class="col-md-3" (click)="isShow=!isShow;onshow()"> 
                                {{showDetails}}
                 </span>
                
                     
               <div  *ngIf="isShow">
                        <div class="form-horizontal row"> 
                  <div class="form-group col-md-6 col-sm-8 col-xs-4" *ngFor="let field of editMoreFields;let in=index">
                       <div class="row">
                <label class="col-6 form-control-label"   for="hf-name">{{field.label}}</label>
                <div class="col-6" *ngIf="field.type==='text'">
                    <input type="{{field.type}}" id="{{field.Id}}"  name="{{field.name}}" class="{{field.className}}" placeholder=""  [(ngModel)]="modalfields[in].value"  >
                </div>          
                <div class="col-6" *ngIf="field.type==='number'">
                    <input type="{{field.type}}" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" ngModel placeholder="">
                </div>
                <div class="col-6" *ngIf="field.type==='date'">
                    <input type="{{field.type}}" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" [(ngModel)]="modalfields[in].value" placeholder="">
                </div>
                <div class="col-6" *ngIf="field.type==='select'">
                <select  [(ngModel)]="modalfields[in].value" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" size="1">
                <option  [ngValue]="opt" *ngFor="let opt of field.options">{{opt}}</option>                
                </select> 
              </div>
                <div class="col-6" *ngIf="field.type==='radio'">
                    <div class="row" >
                    <div class="col-1">
                    </div>
                    <div  class="radio" *ngFor="let opt of field.options;let idx=index" >
                        <input type="radio" id="{{field.Id}}" [(ngModel)]="modalfields[in].value"  name="{{field.name}}" value="{{opt}}"   > {{opt}}                                
                            &emsp;
                    </div>
                    </div>
                </div>
                <div class="col-6" *ngIf="field.type==='checkbox'">
                <div class="row" >
                    <div class="col-1">
                    </div>
                    <div class="checkbox " *ngFor="let opt of field.options; let inn=index">
                            <input type="checkbox" [(ngModel)]="modalfields[in].value"  id="checkbox{{in}}" name="checkbox{{inn}}" value="{{opt}}"> {{opt}}
                            &emsp;
                        </div>
                </div>
                </div>
                <div class="col-10" *ngIf="field.type==='hidden'">
                    <input type="hidden" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" [(ngModel)]="modalfields[in].value" placeholder="">                          
                </div>
            </div>
                  </div>
              </div>  



               </div> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="onUpdate(upform);editModal.hide()">Update</button>
            </div>  
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
  </form>
  <!--Edit modal start-->
  <!--Delete modal start-->
  <form action="" method="post" class="form-horizontal row" #deleteform="ngForm">
    <div bsModal #deleteModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #00BFFF;color:#fff">
            <h4 class="modal-title" >{{componentName}} Delete Confirmation</h4>
            <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h3 style="text-align: center;color: #00BFFF;margin-top: 20px;">Are you sure to delete?</h3>
            <div class="row" *ngFor="let field of deletemodalfields;let in=index">
              <label class="col-4 form-control-label"   for="hf-name">{{field.label}}</label>
                  <div class="col-8" *ngIf="field.type==='hidden'">
                      <input type="{{field.type}}" id="{{field.Id}}"  name="{{field.name}}" class="{{field.className}}" placeholder="" [(ngModel)]="deletemodalfields[in].value" >
                  </div>
            </div>          
          </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onUpdate(deleteform);deleteModal.hide()">Confirm</button>
            <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancel</button>
          </div>  
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </form>
  <!--Delete modal end-->
  <!--page end-->
</div>
<router-outlet></router-outlet>
