<style>
 @media only screen and (max-width:800px) {
 .card-responsive-adjust {
 width: 700px;
 }
 }

 @media only screen and (max-width:735px) {
 .card-responsive-adjust {
 width: 635px;
 }
 }
 
 @media only screen and (max-width:670px) {
 .card-responsive-adjust {
 width: 570px;
 }
 }

 @media only screen and (max-width:600px) {
 .card-responsive-adjust {
 width: 500px;
 }
 }

 @media only screen and (max-width:530px) {
 .card-responsive-adjust {
 width: 430px;
 }
 }

 @media only screen and (max-width:460px) {
 .card-responsive-adjust {
 width: 370px;
 }
 }

 @media only screen and (max-width:400px) {
 .card-responsive-adjust {
 width: 350px;
 margin-left: -25px;
 }
 }

 @media only screen and (max-width:340px) {
 .card-responsive-adjust {
 width: 300px;
 /*overflow-x: scroll;*/
 /*margin-left: -25px;*/
 }
 }

@media only screen and (max-width:1366px) {
 .card-responsive-adjust {
 width: 1050px;
 /*overflow-x: scroll;*/
 /*margin-left: -25px;*/
 }
 }

/*-------------------------------------------------------------------*/
 @media only screen and (max-width:800px) {
 .row{
 width: 700px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:735px) {
 .row{
 width: 635px;
 overflow-x: scroll;
 }
 }

  @media only screen and (max-width:1000px) {
 .row{
 width: 900px;
 overflow-x: scroll;
 }
 }
 
 @media only screen and (max-width:670px) {
 .row{
 width: 570px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:600px) {
 .row{
 width: 500px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:530px) {
 .row{
 width: 430px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:460px) {
 .row{
 width: 370px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:400px) {
 .row{
 width: 355px;
 overflow-x: scroll;
 /*margin-left: -25px;*/
 }
 }

 @media only screen and (max-width:320px) {
 .row{
 width: 290px;
 overflow-x: scroll;
 /*margin-left: -25px;*/
 }
 }
/*----------------------------------------------------------*/

 /*scroll*/
 @media only screen and (max-width:800px) {
 .responsive{
 width: 700px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:735px) {
 .responsive{
 width: 635px;
 overflow-x: scroll;
 }
 }
 
 @media only screen and (max-width:670px) {
 .responsive{
 width: 570px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:600px) {
 .responsive{
 width: 500px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:530px) {
 .responsive{
 width: 430px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:460px) {
 .responsive{
 width: 370px;
 overflow-x: scroll;
 }
 }

 @media only screen and (max-width:400px) {
 .responsive{
 width: 355px;
 overflow-x: scroll;
 /*margin-left: -25px;*/
 }
 }

 @media only screen and (max-width:320px) {
 .responsive{
 width: 290px;
 overflow-x: scroll;
 /*margin-left: -25px;*/
 }
 }
 label{
     text-align: left;
 }


 
</style>

<div *ngIf="isForm">
  <!--page start-->
  <!--Form-->
  <div class="animated fadeIn">
        <div class="card card-responsive-adjust">
            <div class="card-header" style="background-color:#00BFFF; color:white;font-size: 16px; font-weight:bold">{{componentName}}</div>
            <div class="card-block responsive">
                 <form action="" method="post" class="form-horizontal row" #genericForm="ngForm">
                    <div class="form-group col-md-6 col-sm-8 col-xs-4" *ngFor="let field of fields;let in=index">
                        <div class="row">
                            <label class="col-4 form-control-label" for="hf-name">{{field.label}}</label>
                            <div class="col-8" *ngIf="field.type==='text'">
                                <input type="{{field.type}}" id="{{field.Id}}"  name="{{field.name}}" class="{{field.className}}" placeholder="" [(ngModel)]="fields[in].value" required>
                            </div>
                            <div class="col-8" *ngIf="field.type==='select'">
                                <select  [(ngModel)]="fields[in].value" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" size="1">
                                <option  [ngValue]="opt" *ngFor="let opt of field.options">{{opt}}</option>                
                                </select> 
                               <!--<ng-select   [multiple]="false" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" placeholder="No city selected">                               
                             </ng-select>-->
                            </div>
                            <div class="col-8" *ngIf="field.type==='number'">
                                <input type="{{field.type}}" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" [(ngModel)]="fields[in].value" placeholder="" >
                            </div>
                             <div class="col-8 " *ngIf="field.type==='date'">
                                <div class="">
                                    <input class="form-control" style="float:none;"  (click)="dp.toggleCalendar()" placeholder="Select a date" ngx-mydatepicker ngModel name="{{field.name}}" #dp="ngx-mydatepicker"/>                         
                                </div>
                            </div>
                            <!--<div class="col-8 " *ngIf="field.type==='date'">
                                <div class="input-group">
                                  <input class="form-control" style="float:none;" placeholder="Select a date" ngx-mydatepicker name="date"
                                          [(ngModel)]="model" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
                                  <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                          <i class="fa fa-calendar"></i>
                                      </button>
                                  </span>
                              </div>
                              </div>-->
                            <div class="col-8" *ngIf="field.type==='radio'">
                               <div class="row" >
                                <div class="col-1">
                                </div>
                                  <div  class="radio" *ngFor="let opt of field.options;let idx=index" >
                                      <input type="radio" id="{{field.Id}}" [(ngModel)]="fields[in].value"  name="{{field.name}}" value="{{opt}}"> {{opt}}                                
                                      &emsp;
                                  </div>
                               </div>
                            </div>
                          <div class="col-8" *ngIf="field.type==='checkbox'">
                            <div class="row">
                              <div class="col-1"></div>
                                <div class="checkbox">
                                      <input type="checkbox" ngModel id="{{field.id}}" name="{{field.name}}" value="{{opt}}">
                                      &emsp;
                                 </div>
                            </div>
                            </div>
                            <div class="col-8" *ngIf="field.type==='hidden'">
                                   <input   type="hidden" id="{{field.Id}}" name="{{field.name}}" class="{{field.className}}" [(ngModel)]="fields[in].value" placeholder="">                          
                            </div>
                             <div class="col-8" *ngIf="field.type==='file'">
                                <input type="file" name="file" ngModel (change)="getFiles($event)">
                             </div>
                        </div>
                    </div>
                    <br>
                     <div class="col-4"> 
                      <button type="submit" class="btn btn-primary" (click)="onSubmit(genericForm)">Show</button>
                      <button type="reset" class="btn btn-danger">Done</button>
                    </div> 
                </form>
                <p>{{genericForm.value | json}}</p>
                </div>
                <div class="row">
                    <div class ="col-2"></div>
                    <div class="col-8">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"> Create Transaction</i></button>
                    <!--</div>
                    <div class="col-3">-->
                        <button type="submit" class="btn btn-danger">  <i class="fa fa-exclamation"> Pending Transactions</i></button>
                    <!--</div>
                    <div class="col-3">-->
                         <button type="submit" class="btn btn-primary"><i class="fa fa-lock"> Locked Transactions</i></button>
                    </div>
                    <div class ="col-2"></div>
                </div>    
                <br>
                <br>   
        </div>
    </div>
  <!--Form-->
  <!--Table-->
  <div class="card card-responsive-adjust">
    <div class="card-header" style="background-color: #00BFFF;color: #fff"><b>Last account Transaction Details on 29-06-2017</b></div>
      <div class="card-block responsive">
       <div id="container-fluid" class="container">
		   <table class="table table-responsive" style="overflow-x:auto">
            <tbody>
            <tr>
                <th colspan="7">Cargo Bookings</th>
                <th>4,650.00</th>
                <th colspan="7">Branch Income</th>
                <th>0.00</th>
            </tr>
            <tr>
                <th colspan="7">Cargo Cancellations</th>
                <th>300.00</th>
                <th colspan="7">Branch Expenses</th>
                <th>0.00</th>
            </tr>
            <tr>
                <th colspan="7"></th>
                <th></th>
                <th colspan="7">Amount to be paid in office</th>
                <th>4,350.00</th>
            </tr>
         </tbody>
        </table>          
      </div>
  </div>
  <!--Table-->
  <!--page end-->
</div>
<router-outlet></router-outlet>
