<style>
  .borderless td, .borderless th {
    border: none;
    
}
input {
    width: 100%;
  padding: 2px;
}

</style>

<div *ngIf="isForm">
  <!--page start-->
  <!--Form-->
  <div class="animated fadeIn">
     <form action="" method="post" class="form-horizontal " #genericForm="ngForm">                
      <div class="card ">
            <div class="card-header" style="background-color:#00BFFF; color:white;font-size: 16px; font-weight:bold">cargo booking </div>
            <div class="card-block ">
              <div class="form-group row">
               <table class="table borderless">
             <tbody>
                <tr>
                    <td>LR Type</td>
                    <td>
                      <select class="form-control" id="select" ngModel name="lrtype" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                      </select>
                    </td>
                    <td>From</td>
                   <td>
                       <select class="form-control" id="select" ngModel name="from" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                       </select>
                   </td>
                   <td>To</td>
                   <td>
                       <select class="form-control" id="select" ngModel name="to" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                       </select>
                   </td>
                   <td>Date</td>
                   <td>27-06-2017</td>
                </tr>
                <tr>
                  <td>WayBill No</td>
                   <td>
                         <input type="text"  ngModel name="wayBillNo">
                            
                   </td>
                    <td>From Branch</td>
                   <td>
                       <select class="form-control" id="select" ngModel name="fromBranch" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                       </select>
                   </td>

                    <td>To Branch</td>
                   <td>
                       <select class="form-control" id="select" ngModel name="toBranch" size="1">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                       </select>
                   </td>

                    <td>Branch Code</td>
                   <td>
                         <input type="text"  ngModel name="branchcode">
                            
                   </td>

                </tr>
              </tbody>
             </table>

                     
                     </div>
                </div>
                <p>{{genericForm.value | json}}</p>
                
                
                </div> 
                <div class="row">
                  <div class="col-lg-6">
                            <div class="card">
                             <div class="card-header" style="background-color:#00BFFF; color:white;font-size: 16px; font-weight:bold">Sender Details   <input style="float:right" type="checkbox" ngModel name="senderDetails" ></div>
                                 <div class="card-block ">
                                 <div class="form-group row">
                                          <label class="col-md-5 form-control-label" label> Customer Name/Id</label>
                                          <div class="col-md-7">
                                              <input type="text"  ngModel name="customerName">
                                          </div>
                                    </div>
                                      <div class="form-group row">
                                          <label class="col-md-5 form-control-label" label> Sender Name/Id</label>
                                          <div class="col-md-7">
                                              <input type="text"  ngModel name="senderName">
                                          </div>
                                      </div>
                                        <div class="form-group row">
                                          <label class="col-md-5 form-control-label" label> Mobile No</label>
                                          <div class="col-md-7">
                                              <input type="text"  ngModel name="customerMblNo">
                                          </div>
                                        </div>
                                          <span class="col-md-3 offset-md-4" (click)="isShow=!isShow;onshow()"> 
                                           {{showDetails}}
                                          </span>
                                          <div *ngIf="isShow">
                                              <div class="form-group row">
                                                <label class="col-md-5 form-control-label" label> Id Type</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" id="select" ngModel name="sIdType" size="1">
                                                                <option value="0">Please select</option>
                                                                <option value="1">Option #1</option>
                                                                <option value="2">Option #2</option>
                                                                <option value="3">Option #3</option>
                                                      </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text"  ngModel name="sIdNo" placeholder="Id No" style="width:80px;padding:5px;">
                                                </div>
                                               </div>
                                               
                                               <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label> Email-Id</label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="sEmailId">
                                                  </div>
                                                </div>
                                             
                                              <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label>Contact No</label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="sContactNo">
                                                  </div>
                                                </div>
                                               <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label> TIN Number</label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="sTinNumber">
                                                  </div>
                                                </div>
                                             
                                              <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label>Address </label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="sAddress">
                                                  </div>
                                                </div>
                                          </div>                              
                                   </div>
                                 
                            </div>
                    </div>
                    <div class="col-lg-6"> 
                          <div class="card">
                            <div class="card-header" style="background-color:#00BFFF; color:white;font-size: 16px; font-weight:bold">Reciever Details </div>
                                  <div class="card-block ">
                                    <div class="form-group row">
                                          <label class="col-md-5 form-control-label" label> Copy Sender details</label>
                                          <div class="col-md-7">
                                              <input type="checkbox"  ngModel name="sendercopy">
                                          </div>
                                    </div>
                                       <div class="form-group row">
                                          <label class=" col-md-5 form-control-label" label> Receiver Name</label>
                                          <div class="col-md-7">
                                              <input type="text"  ngModel name="recieverName">
                                          </div>
                                       </div>
                                       <div class="form-group row">
                                          <label class=" col-md-5 form-control-label" label> Mobile No</label>
                                          <div class="col-md-7">
                                              <input type="text"  ngModel name="recieverMblNo">
                                          </div>                                             
                                    </div>
                                     <span class="col-md-8 offset-md-4" (click)="isShow=!isShow;onshow()"> 
                                           {{showDetails}}
                                          </span>
                                          <div *ngIf="isShow">
                                              <div class="form-group row">
                                                <label class="col-md-5 form-control-label" label> Id Type</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" id="select" ngModel name="rIdType" size="1">
                                                                <option value="0">Please select</option>
                                                                <option value="1">Option #1</option>
                                                                <option value="2">Option #2</option>
                                                                <option value="3">Option #3</option>
                                                      </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text"  ngModel name="rIdNo" placeholder="Id No"  style="width:80px;padding:5px">
                                                </div>
                                               </div>
                                               
                                               <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label> Email-Id</label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="rEmailId">
                                                  </div>
                                                </div>
                                             
                                              <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label>Contact No</label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="rContactNo">
                                                  </div>
                                                </div>
                                               <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label> TIN Number</label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="rTinNumber">
                                                  </div>
                                                </div>
                                             
                                              <div class="form-group row">
                                                  <label class="col-md-5 form-control-label" label>Address </label>
                                                  <div class="col-md-7">
                                                      <input type="text"  ngModel name="rAddress">
                                                  </div>
                                                </div>
                                          </div>
                                 </div>
                          </div>
                    </div>
                </div>

          <div class="card">
            <div class="card-header" style="background-color:#00BFFF; color:white;font-size: 16px; font-weight:bold">Add Item </div>
                <div class="card-block ">

                   <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                        <th>Item Description</th>
                        <th >Quantity</th>   
                        <th >KGS</th>   
                        <th >CDM</th>
                        <th >Freight Charge</th>
                        </tr>
                        </thead>
                    <tbody>
                      <tr *ngFor="let row of  item_data;let in=index"> 
                        <td>
                          <input type="text"  ngModel name="itemDescription{{in}}" style="width:300px">                  
                        </td>
        
                          <td>
                          <input type="number" ngModel name="quantity{{in}}" > 
                          </td>
            
                         <td>
                          <input type="number" ngModel name="kgs{{in}}"  >                  
                        </td>
                        <td>
                          <input type="text" ngModel name="cdm{{in}}"  >                  
                        </td>      
                          <td>
                          <input type="number" ngModel  name="freightCharge{{in}}"  (change)="priceChange(genericForm)"> 
                          </td>      
                        </tr>
                        <tr>
                          <td>
                          <button (click)="addItem(genericForm)">Add Item</button>
                          <button  (click)="removeItem(genericForm)">Remove Item</button>
                          </td>
                          <td> </td>
                          
                          <td> </td>
                          <td> </td>
                          <td> </td>
                      </tr>
                <tr>
                    <td class="center bold ng-binding">Totals</td>           
                    <td class="clr_red ng-binding"></td>     
                    <td colspan="2"></td>
                    <td class="amount clr_red ng-binding">{{total}}</td>
                </tr>
                </tbody>
            </table>
            <div>
              <br>
            </div>
          <div class="row">
            <div class="col-lg-5">
                  <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Value of the Goods</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="valueOfGoods" > 
                    </div>
               </div>
                  <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Condition of Goods</label>
                    <div class="col-md-6"> 
                    <select class="form-control" id="select" ngModel name="conditionOfGoods" size="1">
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                  </select>
                    </div>
               </div>
                  <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>With Pass</label>
                    <div class="col-md-6"> 
                      <input type="checkbox" ngModel name="withPass" > 
                    </div>
               </div>
                 
                    <div class="card">
                        <div class="card-header" style="background-color:#00BFFF; color:white;font-size: 16px; font-weight:bold"> Calculations information</div>
                            <div class="card-block ">
                              <p>CDM = ( ( Length*Width*Height ) / 2.5 )<br>
                              1 Meter = 3.2 feet
                              </p>
                            </div>
                        </div>

                  <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Remarks</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="remarks" > 
                    </div>
               </div>
                     <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>On behalf of Agent</label>
                    <div class="col-md-6"> 
                    <select class="form-control" id="select" ngModel name="bagent" size="1" disabled>
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                  </select>
                    </div>
               </div>
                     <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>On behalf of User</label>
                    <div class="col-md-6"> 
                    <select class="form-control" id="select" ngModel name="buser" size="1" disabled>
                            <option value="0">Please select</option>
                            <option value="1">Option #1</option>
                            <option value="2">Option #2</option>
                            <option value="3">Option #3</option>
                  </select>
                    </div>
               </div>

               <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Payment Mode</label>
                    <div class="col-md-6"> 
                      <div class="form-check form-check-inline">
                            &emsp;
                            <input (change)="isCard=false" class="form-check-input" type="radio" name="paymentMode" id="inlineRadio1" value="cash"> Cash
                            &emsp;&emsp;
                            <input (change)="isCard=true" class="form-check-input" type="radio" name="paymentMode" id="inlineRadio2" value="card">Card
                        </div>
                    </div>
               </div>
               
            </div>
            <div class="col-lg-1">
            </div>     
            <div class="col-lg-6">
              <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>With Pass Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="wpCharges" > 
                    </div>
               </div>
               <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Incidental Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="iCharges" > 
                    </div>
               </div>
               <div class="form-group row">
                    <label class="col-md-6 form-control-label" label> Article Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="aCharges" > 
                    </div>
               </div>
              <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Sur Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="surCharges" > 
                    </div>
               </div>
               <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Handling Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="hCharges" > 
                    </div>
               </div>
               <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Door Booking Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="dbCharges" > 
                    </div>
               </div>
              <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>Door Delivery Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="ddCharges" > 
                    </div>
               </div>
               <div class="form-group row">
                    <label class="col-md-6 form-control-label" label>ST Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="stCharges" > 
                    </div>
               </div>
               <div class="form-group row">
                    <label class="col-md-6 form-control-label" label> Other Charges (₹)</label>
                    <div class="col-md-6"> 
                      <input type="text" ngModel name="oCharges" > 
                    </div>
               </div>
              <div class="form-group row">
                    <label class="col-md-6 form-control-label" label> Net Amt Payable (₹)</label>
                    <div class="col-md-6"> 
                     <span> 0.0</span> 
                    </div>
               </div>
                <div *ngIf="isCard" class="form-group row">
                    <label class="col-md-6 form-control-label" label>Card Charges (₹)</label>
                    <div class="col-md-6"> 
                     <span> 0.0</span> 
                    </div>
               </div>

            </div>
          </div>
          


    </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-3"></div> 
                    <div class="col-4"> 
                      <button type="submit" class="btn btn-primary" (click)="onSubmit(genericForm)"><i class="fa fa-check"></i> Submit</button> 
                    </div>
                    <div class="col-2">
                      <button type="reset" class="btn btn-danger"><i class="fa fa-close"></i> Reset</button>
                    </div>
                    <div class="col-3"></div>
                  </div>
                </div>  
        </div>
    </form>   
        </div>
  <!--Form-->
  <!--Table-->
  <!--<div class="card ">
   <div class="card-header" style="background-color: #00BFFF;color: #fff"><b>Manage {{componentName}}</b></div>
      <div class="card-block  ">
         <div id="container" class="container">
            <table id="example" class="display row-border order-column" cellspacing="0" width="100%">
          <thead>
                <tr>
                  <td *ngFor="let head of theads">
                    {{head}}
                  </td>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of data">
              <td *ngFor="let tf of tfields" > 
                {{item[tf]}}
              </td>
              <td *ngIf="item['action']=='show'">
                <a data-toggle="modal" (click)="editSelect(item['Id']);editModal.show()"><i class="fa fa-pencil" aria-hidden="true" style="color:#20a8d8"></i></a>&emsp; <a data-toggle="modal" (click)="onSelect(item['id']);deleteModal.show()"><i class="fa fa-trash" aria-hidden="true" style="color:#ff5454;"></i></a>               
              </td> 
              <td *ngIf="item['action']!='show'">             
              </td> 
            </tr>
          </tbody>
      </table>
      </div>
  </div>
  </div>-->
  <!--Table-->
  <!--Edit Modal start-->
  <form action="" method="post" class="" #upform="ngForm">  
      <div bsModal #editModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#fff;color:black">
              <h4 class="modal-title">{{componentName}} Edit Form</h4>
              <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-body">
            <div class="form-horizontal row" *ngFor="let item of selectedData"> 
              <div class="form-group col-md-6 col-sm-8 col-xs-4" *ngFor="let field of modalfields">
                <div class="row">
                <label class="col-3 form-control-label"   for="hf-name">{{field.label}}</label>
                <div class="col-9" *ngIf="field.type==='text'">
                    <input type="{{field.type}}" id="{{field.id}}" [(ngModel)]="item[field.name]" name="{{field.name}}" class="{{field.className}}" placeholder="">
                </div>          
                <div class="col-9" *ngIf="field.type==='number'">
                    <input type="{{field.type}}" id="{{field.id}}" [(ngModel)]="item[field.name]" name="{{field.name}}" class="{{field.className}}" placeholder="">
                </div>
                <div class="col-9" *ngIf="field.type==='date'">
                    <input type="{{field.type}}" id="{{field.id}}" [(ngModel)]="item[field.name]" name="{{field.name}}" class="{{field.className}}" placeholder="">
                </div>
                <div class="col-9" *ngIf="field.type==='select'">
                <select  id="{{field.Id}}" [(ngModel)]="item[field.name]" name="{{field.name}}" class="{{field.className}}" size="1">
                <option  *ngFor="let opt of field.options">{{opt}}</option>                
                </select> 
              </div>
                <div class="col-9" *ngIf="field.type==='radio'">
                    <div class="row" >
                    <div class="col-1">
                    </div>
                    <div  class="radio" *ngFor="let opt of field.options;let idx=index" >
                        <input type="radio" id="{{field.id}}" [(ngModel)]="item[field.name]" name="{{field.name}}" value="{{opt}}"   > {{opt}}                                
                            &emsp;
                    </div>
                    </div>
                </div>
                 <div class="col-9" *ngIf="field.type==='checkbox'">
                  <div class="row">
                    <div class="col-1"></div>
                    <div class="checkbox">
                     <input type="checkbox" [(ngModel)]="item[field.name]" id="{{field.id}}" name="{{field.name}}" value="{{opt}}">
                        &emsp;
                      </div>
                  </div>
                </div>
                <div class="col-9" *ngIf="field.type==='email'">
                  <input type="email" id="{{field.id}}" [(ngModel)]="item[field.name]" name="{{field.name}}" class="{{field.className}}" placeholder="">
                </div>
                <div class="col-9" *ngIf="field.type==='password'">
                  <input type="password" id="{{field.id}}" [(ngModel)]="item[field.name]" name="{{field.name}}" class="{{field.className}}" placeholder="">
                </div>
                <div class="col-10" *ngIf="field.type==='hidden'">
                    <input type="hidden" id="{{field.id}}" ngModel name="{{field.name}}" class="{{field.className}}" placeholder="">                          
                </div>
            </div>
                  </div>
              </div>   
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="onUpdate(upform);editModal.hide()">Update</button>
            </div>  
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
  </form>
  <!--Edit modal start-->
  <!--Delete modal start-->
  <form action="" method="post" class="form-horizontal row" #deleteform="ngForm">
    <div bsModal #deleteModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #00BFFF;color:#fff">
            <h4 class="modal-title" >{{componentName}} Delete Confirmation</h4>
            <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h3 style="text-align: center;color: #00BFFF;margin-top: 20px;">Are you sure to delete?</h3>
            <div class="row" *ngFor="let field of deletemodalfields;let in=index">
              <label class="col-4 form-control-label"   for="hf-name">{{field.label}}</label>
                  <div class="col-8" *ngIf="field.type==='hidden'">
                      <input type="{{field.type}}" id="{{field.id}}"  name="{{field.name}}" class="{{field.className}}" placeholder="" [(ngModel)]="deletemodalfields[in].value" >
                  </div>
            </div>          
          </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onUpdate(deleteform);deleteModal.hide()">Confirm</button>
            <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Cancel</button>
          </div>  
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </form>
  <!--Delete modal end-->
  <!--page end-->
</div>
<router-outlet></router-outlet>
